.index-title {
    text-align: center;
}

.index-p {
    text-align: center;
}

.index-form {
    text-align: center;
}

.index-table {
    margin: 0 auto;
}

.thread-table {
    margin: 0 auto;
}

.warning-cell,
.warning-row {
    background-color: #ffdb8b;
}

.active-cell {
    background-color: #d9f2d9;
}

.state-running {
    background-color: #dbeafe;
}